{% extends "base.html" %}

{% block content %}

<h2>{{ section.title }}</h2>
<noscript>
    Your browser doesn't support JS. This is so cool!
</noscript>

<div class='md-content'>
    {{ section.content | safe }}
</div>

{% endblock content %}

{% block root %}

{% if page.extra.noload %}
    <div class='screen fader'>
        <p>
            <img src='/load.gif' width='46px' height='48px' style='margin-bottom:8px' /><br/>
            Loading . . .

            <span style='font-size:50%;display:block;margin-top:3em;color:#777777 !important'>
                Credit for loading gif to
                <a href='https://bdragon1727.itch.io/pixel-loading-pack-3'>
                    BDragon1727
                </a>
            </span>
        </p>
    </div>
{% endif %}

{% endblock root %}